[alias]
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
        d = diff --color-words
	dh = diff head
	ds = diff stat
	s = status
	st = status
	ci = commit
	co = checkout
	br = branch
        bi = bisect
        cim = commit -m
        cia = commit -am
        f = flow
        ffs = flow feature start
        fff = flow feature finish
	this = !git init && git add . && git commit -m \"initial commit\"
	amend = !git log -n 1 --pretty=tformat:%s%n%n%b | git commit -F - --amend
	r  = !git ls-files -z --deleted | xargs -0 git rm
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort
	ignore=!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
	master = checkout master
	develop = checkout develop

[apply]
	whitespace = fix
[core]
        excludesfile = /Users/tomdavies/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
        editor = nano
	pager = less
[color]
	ui = auto
	interactive = auto

[color "blame"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[merge]
	log = true
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[user]
	name = Tom Davies
	email = tom@tomdavies.net
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[format]
        pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr) %C(blue)%ci%Creset
